

.css-i4bv87-MuiSvgIcon-root{
    fill: white !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    color: rgb(180, 180, 180) !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    //текст над инпутом
    color:#6b3dc0 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: rgb(152, 152, 152) !important;
}
.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper{
    background-color: #d1d1d1e8 !important;
}
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
    //DATETIMEPICKER
    background-color: rgb(69, 176, 144) !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    //DATEPICKER
    background-color: rgb(69, 176, 144)!important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    //ok button
    color:  rgb(69, 176, 144) !important;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color:  rgb(69, 176, 144) !important;
}