.user-box{
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .title{
    padding: 3rem 0.8rem;
    font-size: 20px;
    color: rgb(231, 231, 231);
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn-box{
margin: 0 1rem 0 2rem;
  }
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .profile-pic{
    max-width: 2.5rem;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      transform: scale(1.1);
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 